html {
    font-size: 18px;
}


.chai-intro h2 {
    font-size:60px;
    line-height: 100px;
    padding-bottom: 15px;
}


:root {
    font-size: 18px; /* Set the base font size */
}


#intro-header {
    background-color: #F7F5E9;
}


/* Fix the mobile menu so that it displays on the right side by shrinking the logo image on mobile */

@media (max-width: 700px) {
    #logo-image {
        width: 175px;
    }
}


/* Limit the chai image width when the browser get's smaller */

@media (max-width: 1400px) {
    #chai-image {
        width: 600px;
        height: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
}


@media (max-width: 600px) {
    #chai-image {
        width: auto;
        height: auto;
        padding-top: 20px;
    }
}
.quote-image img {
    max-width: 150px;
    height: auto;
}

.testimonial-text{
    font-size: 1.3rem;
    font-weight: bold;
    }

.testimonial-author{
    font-size: 1.0rem;
}

.custom-list { padding-left: 3vw; }
.custom-check-mark {
    list-style: none;
    position: relative;
    padding-left: 35px; /* Increase left padding */
    margin-bottom: 10px; /* Add some bottom margin */
    line-height: 1.5em; /* Increase line-height */
}

.custom-check-mark:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px; /* Set width of image */
    height: 30px; /* Set height of image */
    background: url("images/green-check.png") no-repeat;
    background-size: contain; /* Scale image to fit inside */
}

.custom-check-mark span {
    display: inline-block;
    margin-left: 35px; /* Add some left margin */
}

.custom-check-mark span {
    display: inline-block;
    margin-left: 35px; /* Add some left margin */
}

/*
Custom Red X
 */

.custom-red-check-mark {
    list-style: none;
    position: relative;
    padding-left: 35px; /* Increase left padding */
    margin-bottom: 10px; /* Add some bottom margin */
    line-height: 1.5em; /* Increase line-height */
}

.custom-red-check-mark:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px; /* Set width of image */
    height: 30px; /* Set height of image */
    background: url("images/red-x.png") no-repeat;
    background-size: contain; /* Scale image to fit inside */
}

.custom-red-check-mark span {
    display: inline-block;
    margin-left: 35px; /* Add some left margin */
}

.custom-red-check-mark span {
    display: inline-block;
    margin-left: 35px; /* Add some left margin */
}


.cred-height {
    max-height: 80px;
}


#comparison-grid {
    background-color: #F7F5E9;
}

.masala-chai-bg {
    background-image: url("images/chai-spices.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Big Giant Header Image with title */

.bigimageheader {
    background-image: url("images/cheerful-woman-with-mug-table-autumn-part.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mobile-image {
    display: none;
}

.mobile-only-intro {
    display: none; /* hide by default */

}

@media (max-width: 768px) {
    .mobile-only-intro {
        display: block; /* show on mobile devices */
    }
}

.mobile-only-intro h2 {
    font-size: 2em; /* 32px assuming base font size of 16px */
    line-height: normal;
}

.mobile-only-intro h3 {
    font-size: 1.5em; /* 24px assuming base font size of 16px */
    line-height: normal;
}


@media (max-width: 767px) {
    .bigimageheader {
        display: none;
    }

    .mobile-image {
        display: block;
        text-align: center;
    }

    .mobile-image img {
        width: 100%;
        height: auto;
    }
}


.masala-chai-intro {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 800px;
    margin: 0 auto;
}

.masala-chai-intro h2 {
    font-size:50px;
    line-height: 100px;
    padding-bottom: 15px;
}



.ingredient-body {
    display: flex;
    flex-direction: column; /* Change flex direction to column */
    align-items: center; /* Center align items horizontally */
    text-align: left; /* Center align text */

}
.ingredient-header {
    font-size: 25px;
    text-align: left;
}

@media (max-width: 767px) {
    .ingredient-header {
        text-align: center;
    }
}

.ingredient-item {
    margin-top: 30px;
}

.ingredient-body img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 30px;
    margin: 0 auto 10px; /* Center the image horizontally using margin */
}




@media (min-width: 768px) { /* Apply styles for screens larger than or equal to 768px (desktop view) */
    .ingredient-body {
        flex-direction: row; /* Change flex direction to row */
        justify-content: flex-start; /* Align items to the start (left) */
        align-items: flex-start; /* Align items to the start (top) */
        text-align: left; /* Left align the text */
    }

    .ingredient-body img {
        margin-right: 20px; /* Add margin to the right of the image for spacing */
    }
}






